@font-face {
    font-family: bored;
    src: url(../fonts/bored.ttf);
}
canvas{
	height: 90vh;
	width: 100%;
	background:url("../pictures/back.png");
	background-size: cover;
	background-position: center;
	
}
body,html{
	height: 100vh;
	margin: 0;
	font-family: bored;
	font-weight: 500;
	font-size:35px;
	overflow: hidden;
}
.navbar-brand{
	font-size:38px;
	font-weight: 700;
}
img{
	height: 40px;
	width: 40px;
}
.navbar{
	height: 10vh;
}